workflows/WORKFLOW DE BACK UP AUTOMÁTICO - 24/24.json
{
  "active": false,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-04T15:29:37.301Z",
  "id": "GZyfxGyOpqrn1FYv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WORKFLOW DE BACK UP AUTOMÁTICO - 24/24",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "63d94cdf-c3fb-471f-8385-9eb34d3da94c",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -720,
        288
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "ef223561-9efa-420b-8b58-ec382853885a",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Vyapr4Kl9Ssk89Qc",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "a4962b6b-4841-4f00-b933-df0858ca40bd",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        64,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "57058e2f-9707-4aeb-8ae2-e90ae3f9d8f0",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        304,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a8e272b1-1f3a-4ff7-9684-61cea739cdf4",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        304,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "9384b1a9-1b00-42a4-8d57-3d208ad6000b",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        320,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "3ddb3038-6338-4f53-afb4-cf8242aff979",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        496,
        416
      ],
      "typeVersion": 1,
      "webhookId": "bea2b648-5990-4860-8bd8-3b60403e3e35",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Vyapr4Kl9Ssk89Qc",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "4a5451b1-f8df-4ec8-adb2-c6cf73c6b446",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        496,
        608
      ],
      "typeVersion": 1,
      "webhookId": "aa221367-efe0-46c5-b9f4-8dcc7b24b671",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Vyapr4Kl9Ssk89Qc",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "1ce4dad8-54e0-44a1-8bed-7d8b01d7cb8b",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -944,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "felipegoulart06-lab"
            },
            {
              "name": "repo.name",
              "value": "BACKUP-N8N---FELIPE-GOULART---VPS-CONTABO"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "63bf3d03-f65d-4850-bcab-7f44de3e03ef",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -1376,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Backups de Fluxos de Trabalho\nEste fluxo de trabalho fará backup automático dos seus fluxos de trabalho na sua conta do GitHub a cada 24 horas.\n\n### Configuração\nAbra as Configurações Globais e atualize os valores abaixo:\n**repo.owner:** Este é o seu nome de usuário do GitHub\n**repo.name:** Este é o nome do seu repositório\n**repo.path:** Esta é a pasta a ser usada dentro do repositório. Se ela não existir, será criada.\n\nSe o seu nome de usuário fosse `n8n-io` e o seu repositório se chamasse `n8n-backups` e você quisesse que os fluxos de trabalho fossem para uma pasta `workflows`, você configuraria:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows",
        "height": 464.79920462713443,
        "width": 389.78906250000017
      },
      "id": "7a4b7470-2ea6-405d-bd93-604b2051cb53",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Loop de Item Único\nProcessamos cada item do fluxo de trabalho individualmente. Primeiro, verificamos o Github para ver se um arquivo existe. Em seguida, mesclamos os dados do Github com o item da API para que possamos verificar se os valores correspondem no nó de função `isDiffOrNew`. Depois, definimos um status como `same`, `different` ou `new`.",
        "height": 564,
        "width": 955
      },
      "id": "cf4d5314-d30f-48e6-b3fb-1782af568a05",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Salvar os dados\nUsando o nó de alternância, determinamos o que fazer com base no status anterior. Se for o mesmo, não fazemos nada. Se for diferente, atualizamos o arquivo no Github e, se for novo, criamos um novo arquivo. Depois disso, voltamos ao nó de divisão em lotes (OneAtAtTime) para iniciar o processo novamente.",
        "height": 954,
        "width": 766,
        "color": 4
      },
      "id": "cb33fd40-acf7-4c84-86c9-ef2a9b45984d",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "e1ba1f9c-1d89-4e64-b4e1-f688544fb144",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1184,
        448
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "kwTgiWvQxabsrRlk",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "032fb972-4bb0-4dbf-8e22-3f9c3eba00a8",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -320,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4a04c390-fa5d-4205-8a27-ccaad70aba57",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -496,
        416
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "9df4052a-1ed5-4f20-a15b-2571278af67d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1568,
        448
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-04T15:29:37.301Z",
      "createdAt": "2025-11-04T15:29:37.301Z",
      "role": "workflow:owner",
      "workflowId": "GZyfxGyOpqrn1FYv",
      "projectId": "AC5w1KWNzlUPDJxM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T15:39:35.578Z",
  "versionId": "6618e68e-7432-450d-a93c-448cbe236445"
}