workflows/Atendimento WhatsApp IA – ActiveBackground.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultoria Estratégica": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Enviar texto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Enviar texto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Enviar texto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desenvolvimento de Sites e Plataformas": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automação e Integrações Inteligentes (n8n, APIs)": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pacote de Marketing e Criação de Conteúdo": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pacote Start – Transforme sua Empresa Digitalmente": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-04T15:30:13.006Z",
  "id": "pJ6Hgx1LRIZ4RMKo",
  "isArchived": false,
  "meta": null,
  "name": "Atendimento WhatsApp IA – ActiveBackground",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{JSON.stringify($json)}}",
        "options": {
          "systemMessage": "Você é o assistente virtual da empresa **Active Background**, especializada em consultoria estratégica, desenvolvimento de sites, automações e soluções digitais inteligentes.\n\nSeu papel é interpretar automaticamente os dados recebidos de um formulário de agendamento online, enviados via webhook, no formato JSON, que será fornecido no Prompt (User Message) - **NUNCA repita ou transcreva o JSON de entrada na saída**.\n\nOs dados incluem informações do cliente (name, company, email, phone, projectDetails), o serviço selecionado (serviceId/serviceName) e as respostas detalhadas a um questionário (questionnaire.answers).\n\nSua função é:\n1. **Interpretar o contexto** da solicitação de acordo com todas as respostas recebidas.\n2. **Gerar uma análise resumida e personalizada**, em tom humano, consultivo e empático, mostrando que você compreendeu a situação da empresa.\n3. **Sugerir próximos passos** relevantes e específicos para o cliente, como uma reunião de diagnóstico, proposta de automação, criação de site, ou consultoria estratégica.\n4. **Evitar linguagem genérica e frases de efeito vazias.** Cada mensagem deve parecer escrita sob medida para aquele cliente específico.\n5. **Jamais repetir os rótulos técnicos do JSON (ex: 'objetivo-principal').** Sempre transformar os dados em linguagem natural.\n6. **Prioridades de Resposta:**\n    * Se o serviço for “Consultoria Estratégica”, priorize identificar o momento do negócio e orientar um plano de ação inicial.\n    * **Se houver 'problema-urgente' (como \"TENHO UM PROBLEMA, MEU SITE ESTÁ FORA DO AR\") traga-o como a prioridade MÁXIMA na resposta e ofereça ação imediata.**\n    * Se o orçamento for “Baixo”, foque em soluções modulares e acessíveis; se “Alto”, destaque abordagens completas e estratégicas.\n    * Se “orcamento” for “Ainda não sei”, ofereça uma análise inicial gratuita ou reunião exploratória.\n7. Termine sempre de forma profissional e acolhedora, reforçando o nome “Active Background” e deixando o cliente confiante.\n\n**Formato esperado de saída (texto corrido, sem formatação Markdown, HTML ou JSON):**\n- Saudação personalizada pelo nome.\n- Diagnóstico rápido (1–2 parágrafos).\n- Sugestão de solução ou próximos passos (1 parágrafo).\n- Encerramento cordial, ex: “Em breve entraremos em contato para alinhar o próximo passo.”\n\nExemplo de saída:\n> Olá, João! 👋\n> Entendi que seu principal objetivo é melhorar a presença online e que você já possui alguns canais ativos, como Instagram e loja virtual. Seu desafio atual parece estar ligado à falta de automação e estrutura nos processos internos.\n> Podemos iniciar com uma consultoria estratégica voltada à organização digital e criação de automações personalizadas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -80,
        -64
      ],
      "id": "0178fb47-75e4-44f5-9e64-40c7d63e0a09",
      "name": "AI Agent",
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        144
      ],
      "id": "32b9f800-e984-4723-9402-aa1205d00568",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        240,
        -64
      ],
      "id": "1e245275-6c0a-4f69-9dc2-bca57bda5f3f",
      "name": "Enviar texto",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        528,
        -144
      ],
      "id": "f7b0fb77-5cd7-4c86-ae56-ea36b592d6a6",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "description": "Retorna informações detalhadas sobre os serviços oferecidos pelo especialista na Active Background (sites, automações, sistemas, imagens).",
        "jsCode": "def InfoServicos(topico: str) -> str:\n    \"\"\"\n    Retorna informações detalhadas sobre os serviços oferecidos pelo especialista na Active Background (sites, automações, sistemas, imagens).\n    \n    Argumentos:\n        topico (str): O ÚNICO serviço sobre o qual o usuário quer saber mais. Use uma das palavras-chave exatas: 'sites', 'automações', 'sistemas' ou 'imagens'.\n        \n    Retorna:\n        str: Uma descrição detalhada do serviço ou uma mensagem de fallback.\n    \"\"\"\n    \n    servicos = {\n        \"sites\": \"Criação de websites modernos, responsivos, com design personalizado, integrações e SEO. Se o seu projeto precisa de uma presença digital forte, é por aqui!\",\n        \"automações\": \"Desenvolvimento de automações com n8n, APIs, bots e integrações entre plataformas. O foco é fazer seu negócio rodar no automático, economizando tempo e dinheiro.\",\n        \"imagens\": \"Criação de logos, mockups, banners e imagens profissionais usando IA e design digital. Damos aquele tapa visual que o seu material precisa.\",\n        \"sistemas\": \"Criação de sistemas completos, ERPs, painéis administrativos e plataformas web sob medida. Desenvolvemos a ferramenta exata que você precisa, do zero.\"\n    }\n\n    if not topico:\n        return \"Nenhum tópico de serviço foi fornecido. Qual serviço você gostaria de detalhar? (sites, automações, sistemas, imagens).\"\n\n    # Lógica de busca case-insensitive e parcial (se o Agente enviar 'Sobre automação')\n    topico_lower = topico.lower()\n    \n    chave_encontrada = None\n    for chave in servicos.keys():\n        if chave in topico_lower:\n            chave_encontrada = chave\n            break\n\n    if chave_encontrada:\n        # Retorna a string com a descrição do serviço\n        return servicos[chave_encontrada]\n    else:\n        # Resposta de fallback clara\n        return \"Posso te ajudar com desenvolvimento de sites, automações, sistemas e criação de imagens. Sobre qual desses você quer que eu detalhe para você, parceiro?\"\n\n# Para a execução direta em algumas plataformas, a função principal é chamada.\n# Se estiver no n8n ou similar, você deve definir esta função e o Agente de IA \n# a chamará automaticamente.\n# Exemplo de chamada (se necessário):\n# print(InfoServicos(input.get('topico', '')))"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        720,
        -16
      ],
      "id": "97d538b9-07b8-4478-ba76-db34f3538850",
      "name": "code tool",
      "notesInFlow": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a39b21d1-51ed-4cbf-96e9-1ba80ed374c2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        -48
      ],
      "id": "6c400a4f-8f3e-42ce-9a9b-f244422c48ad",
      "name": "Consultoria Estratégica",
      "webhookId": "a39b21d1-51ed-4cbf-96e9-1ba80ed374c2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "660c2603-ae7d-48ed-8cd2-7a634b3aa6f2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        432
      ],
      "id": "2a19d296-e003-4c1d-a98b-5b3101bab3a4",
      "name": "Desenvolvimento de Sites e Plataformas",
      "webhookId": "660c2603-ae7d-48ed-8cd2-7a634b3aa6f2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "384e2516-1a91-4652-a487-48bb8713594a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        832
      ],
      "id": "32c3e6ca-94b3-4820-9b51-1b3bfa5b014b",
      "name": "Automação e Integrações Inteligentes (n8n, APIs)",
      "webhookId": "384e2516-1a91-4652-a487-48bb8713594a"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0d8f974-86b9-48d9-8631-ee268cb6fb78",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        1328
      ],
      "id": "45eb8508-4fad-4200-abf0-fa3e12497aa7",
      "name": "Pacote de Marketing e Criação de Conteúdo",
      "webhookId": "b0d8f974-86b9-48d9-8631-ee268cb6fb78"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "06b9a4c5-689d-4d92-87f1-bc389b01b812",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        1904
      ],
      "id": "bbb5b380-4125-4bc6-b315-aefcad8da886",
      "name": "Pacote Start – Transforme sua Empresa Digitalmente",
      "webhookId": "06b9a4c5-689d-4d92-87f1-bc389b01b812"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Consultoria Estratégica').item.json.body.phone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        144
      ],
      "id": "e04bf646-3339-4105-91e3-0ca850d03743",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c85b139f-991b-48e1-aee5-2975043def4d",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "83c2e9ff-87dc-4be4-a0a1-da3d850dd578",
              "name": "body.questionnaire",
              "value": "={{ $json.body.questionnaire }}",
              "type": "object"
            },
            {
              "id": "b0be5cd4-dfe1-4227-982a-abdac7c9e0e1",
              "name": "body.submittedAt",
              "value": "={{ $json.body.submittedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -48
      ],
      "id": "b2c8897b-4206-4a00-b2c5-9d178488c7aa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{JSON.stringify($json)}}",
        "options": {
          "systemMessage": "Você é o assistente virtual da empresa **Active Background**, especializada em consultoria estratégica, desenvolvimento de sites, automações e soluções digitais inteligentes.\n\nSeu papel é interpretar automaticamente os dados recebidos de um formulário de agendamento online, enviados via webhook, no formato JSON, que será fornecido no Prompt (User Message) - **NUNCA repita ou transcreva o JSON de entrada na saída**.\n\nOs dados incluem informações do cliente (name, company, email, phone, projectDetails), o serviço selecionado (serviceId/serviceName) e as respostas detalhadas a um questionário (questionnaire.answers).\n\nSua função é:\n1. **Interpretar o contexto** da solicitação de acordo com todas as respostas recebidas.\n2. **Gerar uma análise resumida e personalizada**, em tom humano, consultivo e empático, mostrando que você compreendeu a situação da empresa.\n3. **Sugerir próximos passos** relevantes e específicos para o cliente, como uma reunião de diagnóstico, proposta de automação, criação de site, ou consultoria estratégica.\n4. **Evitar linguagem genérica e frases de efeito vazias.** Cada mensagem deve parecer escrita sob medida para aquele cliente específico.\n5. **Jamais repetir os rótulos técnicos do JSON (ex: 'objetivo-principal').** Sempre transformar os dados em linguagem natural.\n6. **Prioridades de Resposta:**\n    * Se o serviço for “Consultoria Estratégica”, priorize identificar o momento do negócio e orientar um plano de ação inicial.\n    * **Se houver 'problema-urgente' (como \"TENHO UM PROBLEMA, MEU SITE ESTÁ FORA DO AR\") traga-o como a prioridade MÁXIMA na resposta e ofereça ação imediata.**\n    * Se o orçamento for “Baixo”, foque em soluções modulares e acessíveis; se “Alto”, destaque abordagens completas e estratégicas.\n    * Se “orcamento” for “Ainda não sei”, ofereça uma análise inicial gratuita ou reunião exploratória.\n7. Termine sempre de forma profissional e acolhedora, reforçando o nome “Active Background” e deixando o cliente confiante.\n\n**Formato esperado de saída (texto corrido, sem formatação Markdown, HTML ou JSON):**\n- Saudação personalizada pelo nome.\n- Diagnóstico rápido (1–2 parágrafos).\n- Sugestão de solução ou próximos passos (1 parágrafo).\n- Encerramento cordial, ex: “Em breve entraremos em contato para alinhar o próximo passo.”\n\nExemplo de saída:\n> Olá, João! 👋\n> Entendi que seu principal objetivo é melhorar a presença online e que você já possui alguns canais ativos, como Instagram e loja virtual. Seu desafio atual parece estar ligado à falta de automação e estrutura nos processos internos.\n> Podemos iniciar com uma consultoria estratégica voltada à organização digital e criação de automações personalizadas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        368,
        384
      ],
      "id": "a0ceac41-7529-493d-b1f8-33b3ab709ad1",
      "name": "AI Agent1",
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        592
      ],
      "id": "354efe49-114c-4b72-8d44-ac00eed55def",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        688,
        384
      ],
      "id": "b4131f3a-5f9a-4b3c-b5ff-096bfe0a5ab6",
      "name": "Enviar texto1",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Consultoria Estratégica').item.json.body.phone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        640
      ],
      "id": "3658b601-6db8-4cc4-99b8-720ff43c6154",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c85b139f-991b-48e1-aee5-2975043def4d",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "83c2e9ff-87dc-4be4-a0a1-da3d850dd578",
              "name": "body.questionnaire",
              "value": "={{ $json.body.questionnaire }}",
              "type": "object"
            },
            {
              "id": "b0be5cd4-dfe1-4227-982a-abdac7c9e0e1",
              "name": "body.submittedAt",
              "value": "={{ $json.body.submittedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        384
      ],
      "id": "1eedae8d-30aa-4cd3-a29a-26b5fcef3be7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{JSON.stringify($json)}}",
        "options": {
          "systemMessage": "Você é o assistente virtual da empresa **Active Background**, especializada em consultoria estratégica, desenvolvimento de sites, automações e soluções digitais inteligentes.\n\nSeu papel é interpretar automaticamente os dados recebidos de um formulário de agendamento online, enviados via webhook, no formato JSON, que será fornecido no Prompt (User Message) - **NUNCA repita ou transcreva o JSON de entrada na saída**.\n\nOs dados incluem informações do cliente (name, company, email, phone, projectDetails), o serviço selecionado (serviceId/serviceName) e as respostas detalhadas a um questionário (questionnaire.answers).\n\nSua função é:\n1. **Interpretar o contexto** da solicitação de acordo com todas as respostas recebidas.\n2. **Gerar uma análise resumida e personalizada**, em tom humano, consultivo e empático, mostrando que você compreendeu a situação da empresa.\n3. **Sugerir próximos passos** relevantes e específicos para o cliente, como uma reunião de diagnóstico, proposta de automação, criação de site, ou consultoria estratégica.\n4. **Evitar linguagem genérica e frases de efeito vazias.** Cada mensagem deve parecer escrita sob medida para aquele cliente específico.\n5. **Jamais repetir os rótulos técnicos do JSON (ex: 'objetivo-principal').** Sempre transformar os dados em linguagem natural.\n6. **Prioridades de Resposta:**\n    * Se o serviço for “Consultoria Estratégica”, priorize identificar o momento do negócio e orientar um plano de ação inicial.\n    * **Se houver 'problema-urgente' (como \"TENHO UM PROBLEMA, MEU SITE ESTÁ FORA DO AR\") traga-o como a prioridade MÁXIMA na resposta e ofereça ação imediata.**\n    * Se o orçamento for “Baixo”, foque em soluções modulares e acessíveis; se “Alto”, destaque abordagens completas e estratégicas.\n    * Se “orcamento” for “Ainda não sei”, ofereça uma análise inicial gratuita ou reunião exploratória.\n7. Termine sempre de forma profissional e acolhedora, reforçando o nome “Active Background” e deixando o cliente confiante.\n\n**Formato esperado de saída (texto corrido, sem formatação Markdown, HTML ou JSON):**\n- Saudação personalizada pelo nome.\n- Diagnóstico rápido (1–2 parágrafos).\n- Sugestão de solução ou próximos passos (1 parágrafo).\n- Encerramento cordial, ex: “Em breve entraremos em contato para alinhar o próximo passo.”\n\nExemplo de saída:\n> Olá, João! 👋\n> Entendi que seu principal objetivo é melhorar a presença online e que você já possui alguns canais ativos, como Instagram e loja virtual. Seu desafio atual parece estar ligado à falta de automação e estrutura nos processos internos.\n> Podemos iniciar com uma consultoria estratégica voltada à organização digital e criação de automações personalizadas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -64,
        848
      ],
      "id": "00736e8a-4900-47b9-bf9c-132ee0c77862",
      "name": "AI Agent2",
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        992
      ],
      "id": "ce409022-ce09-4144-bebe-0eda04e72b4f",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        288,
        912
      ],
      "id": "025ff93f-4593-4913-b3ab-08b2f737f337",
      "name": "Enviar texto2",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Consultoria Estratégica').item.json.body.phone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        1056
      ],
      "id": "df70107f-544b-4503-811e-38879dcfb445",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c85b139f-991b-48e1-aee5-2975043def4d",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "83c2e9ff-87dc-4be4-a0a1-da3d850dd578",
              "name": "body.questionnaire",
              "value": "={{ $json.body.questionnaire }}",
              "type": "object"
            },
            {
              "id": "b0be5cd4-dfe1-4227-982a-abdac7c9e0e1",
              "name": "body.submittedAt",
              "value": "={{ $json.body.submittedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        848
      ],
      "id": "fee15e40-4436-4a72-b64e-9edf0e6fab80",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{JSON.stringify($json)}}",
        "options": {
          "systemMessage": "Você é o assistente virtual da empresa **Active Background**, especializada em consultoria estratégica, desenvolvimento de sites, automações e soluções digitais inteligentes.\n\nSeu papel é interpretar automaticamente os dados recebidos de um formulário de agendamento online, enviados via webhook, no formato JSON, que será fornecido no Prompt (User Message) - **NUNCA repita ou transcreva o JSON de entrada na saída**.\n\nOs dados incluem informações do cliente (name, company, email, phone, projectDetails), o serviço selecionado (serviceId/serviceName) e as respostas detalhadas a um questionário (questionnaire.answers).\n\nSua função é:\n1. **Interpretar o contexto** da solicitação de acordo com todas as respostas recebidas.\n2. **Gerar uma análise resumida e personalizada**, em tom humano, consultivo e empático, mostrando que você compreendeu a situação da empresa.\n3. **Sugerir próximos passos** relevantes e específicos para o cliente, como uma reunião de diagnóstico, proposta de automação, criação de site, ou consultoria estratégica.\n4. **Evitar linguagem genérica e frases de efeito vazias.** Cada mensagem deve parecer escrita sob medida para aquele cliente específico.\n5. **Jamais repetir os rótulos técnicos do JSON (ex: 'objetivo-principal').** Sempre transformar os dados em linguagem natural.\n6. **Prioridades de Resposta:**\n    * Se o serviço for “Consultoria Estratégica”, priorize identificar o momento do negócio e orientar um plano de ação inicial.\n    * **Se houver 'problema-urgente' (como \"TENHO UM PROBLEMA, MEU SITE ESTÁ FORA DO AR\") traga-o como a prioridade MÁXIMA na resposta e ofereça ação imediata.**\n    * Se o orçamento for “Baixo”, foque em soluções modulares e acessíveis; se “Alto”, destaque abordagens completas e estratégicas.\n    * Se “orcamento” for “Ainda não sei”, ofereça uma análise inicial gratuita ou reunião exploratória.\n7. Termine sempre de forma profissional e acolhedora, reforçando o nome “Active Background” e deixando o cliente confiante.\n\n**Formato esperado de saída (texto corrido, sem formatação Markdown, HTML ou JSON):**\n- Saudação personalizada pelo nome.\n- Diagnóstico rápido (1–2 parágrafos).\n- Sugestão de solução ou próximos passos (1 parágrafo).\n- Encerramento cordial, ex: “Em breve entraremos em contato para alinhar o próximo passo.”\n\nExemplo de saída:\n> Olá, João! 👋\n> Entendi que seu principal objetivo é melhorar a presença online e que você já possui alguns canais ativos, como Instagram e loja virtual. Seu desafio atual parece estar ligado à falta de automação e estrutura nos processos internos.\n> Podemos iniciar com uma consultoria estratégica voltada à organização digital e criação de automações personalizadas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        1344
      ],
      "id": "f74a460f-1b92-4ffc-aef1-9c1f4ef2eb0c",
      "name": "AI Agent3",
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -192,
        1520
      ],
      "id": "f5e486c5-33a2-47aa-8c8b-b5ded8ff7d13",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        256,
        1344
      ],
      "id": "8ed712c5-1ba2-47fc-8ede-6d9a27613d6b",
      "name": "Enviar texto3",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Consultoria Estratégica').item.json.body.phone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        1520
      ],
      "id": "5df27dc7-438d-4bfd-b7cd-1f67f4d9d0f3",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c85b139f-991b-48e1-aee5-2975043def4d",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "83c2e9ff-87dc-4be4-a0a1-da3d850dd578",
              "name": "body.questionnaire",
              "value": "={{ $json.body.questionnaire }}",
              "type": "object"
            },
            {
              "id": "b0be5cd4-dfe1-4227-982a-abdac7c9e0e1",
              "name": "body.submittedAt",
              "value": "={{ $json.body.submittedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        1344
      ],
      "id": "970ce0c6-bc9c-4f25-833f-4d2d6e6d8750",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{JSON.stringify($json)}}",
        "options": {
          "systemMessage": "Você é o assistente virtual da empresa **Active Background**, especializada em consultoria estratégica, desenvolvimento de sites, automações e soluções digitais inteligentes.\n\nSeu papel é interpretar automaticamente os dados recebidos de um formulário de agendamento online, enviados via webhook, no formato JSON, que será fornecido no Prompt (User Message) - **NUNCA repita ou transcreva o JSON de entrada na saída**.\n\nOs dados incluem informações do cliente (name, company, email, phone, projectDetails), o serviço selecionado (serviceId/serviceName) e as respostas detalhadas a um questionário (questionnaire.answers).\n\nSua função é:\n1. **Interpretar o contexto** da solicitação de acordo com todas as respostas recebidas.\n2. **Gerar uma análise resumida e personalizada**, em tom humano, consultivo e empático, mostrando que você compreendeu a situação da empresa.\n3. **Sugerir próximos passos** relevantes e específicos para o cliente, como uma reunião de diagnóstico, proposta de automação, criação de site, ou consultoria estratégica.\n4. **Evitar linguagem genérica e frases de efeito vazias.** Cada mensagem deve parecer escrita sob medida para aquele cliente específico.\n5. **Jamais repetir os rótulos técnicos do JSON (ex: 'objetivo-principal').** Sempre transformar os dados em linguagem natural.\n6. **Prioridades de Resposta:**\n    * Se o serviço for “Consultoria Estratégica”, priorize identificar o momento do negócio e orientar um plano de ação inicial.\n    * **Se houver 'problema-urgente' (como \"TENHO UM PROBLEMA, MEU SITE ESTÁ FORA DO AR\") traga-o como a prioridade MÁXIMA na resposta e ofereça ação imediata.**\n    * Se o orçamento for “Baixo”, foque em soluções modulares e acessíveis; se “Alto”, destaque abordagens completas e estratégicas.\n    * Se “orcamento” for “Ainda não sei”, ofereça uma análise inicial gratuita ou reunião exploratória.\n7. Termine sempre de forma profissional e acolhedora, reforçando o nome “Active Background” e deixando o cliente confiante.\n\n**Formato esperado de saída (texto corrido, sem formatação Markdown, HTML ou JSON):**\n- Saudação personalizada pelo nome.\n- Diagnóstico rápido (1–2 parágrafos).\n- Sugestão de solução ou próximos passos (1 parágrafo).\n- Encerramento cordial, ex: “Em breve entraremos em contato para alinhar o próximo passo.”\n\nExemplo de saída:\n> Olá, João! 👋\n> Entendi que seu principal objetivo é melhorar a presença online e que você já possui alguns canais ativos, como Instagram e loja virtual. Seu desafio atual parece estar ligado à falta de automação e estrutura nos processos internos.\n> Podemos iniciar com uma consultoria estratégica voltada à organização digital e criação de automações personalizadas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        128,
        1904
      ],
      "id": "b1a88be5-bf8b-4281-a52d-ae4e60987180",
      "name": "AI Agent4",
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        2224
      ],
      "id": "b8f601e5-3268-4f3a-9d6d-a2bde2b9b083",
      "name": "OpenAI Chat Model4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        432,
        1904
      ],
      "id": "46b96a91-1ed9-41ce-bd63-a38292f6ce74",
      "name": "Enviar texto4",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Consultoria Estratégica').item.json.body.phone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        2224
      ],
      "id": "c9ab3800-6f0a-4b3f-bedb-bcb03008c344",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c85b139f-991b-48e1-aee5-2975043def4d",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "83c2e9ff-87dc-4be4-a0a1-da3d850dd578",
              "name": "body.questionnaire",
              "value": "={{ $json.body.questionnaire }}",
              "type": "object"
            },
            {
              "id": "b0be5cd4-dfe1-4227-982a-abdac7c9e0e1",
              "name": "body.submittedAt",
              "value": "={{ $json.body.submittedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        1904
      ],
      "id": "0943af8a-2aa6-42ab-bc70-cf3dda8ced3b",
      "name": "Edit Fields4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-04T15:30:13.006Z",
      "createdAt": "2025-11-04T15:30:13.006Z",
      "role": "workflow:owner",
      "workflowId": "pJ6Hgx1LRIZ4RMKo",
      "projectId": "AC5w1KWNzlUPDJxM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T15:30:13.006Z",
  "versionId": "5b81830c-b41e-420c-bcdb-b88daf64f83f"
}