workflows/Meu Agente com Prompt Versionado.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Remover instruções do Copilot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remover instruções do Copilot": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-29T22:44:31.760Z",
  "id": "GXeeOG6MdoKPe9WZ",
  "isArchived": true,
  "meta": null,
  "name": "Meu Agente com Prompt Versionado",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        384,
        -80
      ],
      "id": "251fbf09-1be4-423c-b631-e9010232aace",
      "name": "When chat message received",
      "webhookId": "b2c1d7cf-daa6-4f41-b86a-635365fa53c8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1216,
        -80
      ],
      "id": "cde33e23-1ef1-48ce-b5aa-a285e390e67f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1152,
        128
      ],
      "id": "2d71f423-f436-4dd5-b8c2-ddd90262a39a",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1312,
        128
      ],
      "id": "2bb43c8b-9d92-4a07-a08f-c333d07114f2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        -80
      ],
      "id": "21d978e3-9845-4938-8c09-06aac77087ec",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "=<INSIRA O SEU NOME DE USUÁRIO GITHUB>",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "meus-prompts",
          "mode": "name"
        },
        "filePath": "<INSIRA O NOME DO SEU PROMPT>.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        592,
        -80
      ],
      "id": "55ca6277-aeaf-43b7-a2fb-b65c7b03109c",
      "name": "Get a file",
      "webhookId": "5a5c6abe-2d4e-4a2e-9e75-25e2146bf335"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db99733c-5aec-4145-acdf-a44ea90bfbb9",
              "name": "data",
              "value": "={{ $json.data.split('\\n====\\n').slice(1).join('\\n====\\n').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -80
      ],
      "id": "bfb346ca-8914-4589-9e2c-d8e6c48c04c8",
      "name": "Remover instruções do Copilot"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-29T22:44:31.760Z",
      "createdAt": "2025-10-29T22:44:31.760Z",
      "role": "workflow:owner",
      "workflowId": "GXeeOG6MdoKPe9WZ",
      "projectId": "Zl3u1vsJTIYoa3dk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-29T22:45:08.530Z",
  "versionId": "9cb9753c-6ec1-4975-85a6-23d1a5d6cedf"
}