workflows/Agente IA + Evo Api - www.youtube.com/watch?v=SpZX8XNI9ho.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-31T15:39:00.561Z",
  "id": "oeTblw1cMICtTKHe",
  "isArchived": true,
  "meta": null,
  "name": "Agente IA + Evo Api - www.youtube.com/watch?v=SpZX8XNI9ho",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "437feb31-7589-442a-9bf0-ee726aab4afa",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        352,
        -32
      ],
      "id": "7e82c153-c769-4562-8bb0-7333bf06ecad",
      "name": "Webhook",
      "webhookId": "437feb31-7589-442a-9bf0-ee726aab4afa"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\", \"\") }}",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        944,
        -32
      ],
      "id": "a7fd4b99-1b54-4ddd-b31e-5a3c053d06f9",
      "name": "Evolution API"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.data.message.conversation }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        576,
        -32
      ],
      "id": "a8c271f2-4663-4390-92ad-7ea171147fb9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        192
      ],
      "id": "64161ba0-0691-4020-b11f-d4c16df72d98",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.data.key.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        672,
        192
      ],
      "id": "c0bb57ee-cdd8-43a0-8c17-a3feea7dccb0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\", \"\") }}",
        "messageText": "={{ $('AI Agent').item.json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1136,
        -32
      ],
      "id": "27ceeb3e-4ef2-4217-b76a-3a76987683f2",
      "name": "Evolution API1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-31T15:39:00.561Z",
      "createdAt": "2025-10-31T15:39:00.561Z",
      "role": "workflow:owner",
      "workflowId": "oeTblw1cMICtTKHe",
      "projectId": "Zl3u1vsJTIYoa3dk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-31T23:30:26.847Z",
  "versionId": "7e546ad5-e0b3-4db0-b0c0-0edf89d3c2fd"
}